aircv==1.4.6
airtest==1.0.14
altgraph==0.16.1
asn1crypto==0.24.0
attrs==18.2.0
atx==1.2.1.dev5
atx-webide==0.1.1.dev72
Automat==0.7.0
AxmlParserPY==0.0.3
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
bottle==0.12.20
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
comtypes==1.1.4
constantly==15.1.0
cryptography==2.3.1
cssselect==1.0.3
ddt==1.2.0
decorator==4.3.0
dis3==0.1.2
django==1.11.16
django-crispy-forms==1.7.2
email==4.0.2
enum34==1.1.6
facebook-wda==0.2.1
fire==0.1.3
Flask==1.0.2
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.0.5
gevent==1.3.2.post0
greenlet==0.4.13
humanize==0.5.1
hyperlink==18.0.0
idna==2.6
imageio==2.3.0
incremental==17.5.0
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
llvmlite==0.26.0
locust==0.8
lxml==4.2.5
macholib==1.10
maproxy==0.0.12
MarkupSafe==1.0
mock==2.0.0
modulegraph==0.17
msgpack-python==0.5.6
mysql-connector-python==2.1.7
MySQL-python==1.2.5
mysqlclient==1.3.12
numba==0.41.0
numpy==1.14.3
opencv-contrib-python==3.4.1.15
parsel==1.5.0
pbr==5.1.0
pefile==2017.11.5
Pillow==5.1.0
progress==1.3
py==1.5.3
py2app==0.15
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
PyDispatcher==2.0.5
PyHamcrest==1.9.0
PyInstaller==3.3.1
pyOpenSSL==18.0.0
pypiwin32==223
Pypubsub==4.0.0
pytz==2018.5
pywin32==223
pywinauto==0.6.3
PyYAML==3.11
pyzmq==17.0.0
queuelib==1.5.0
requests==2.19.1
retry==0.9.2
robotframework==2.8.6
Scrapy==1.5.1
selenium==3.11.0
service-identity==17.0.0
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
tornado==5.0.2
tqdm==4.5.0
transaction==2.4.0
Twisted==18.7.0
typing==3.6.6
uiautomator==0.3.2
uiautomator2==0.1.1
uniout==0.3.7
UNKNOWN==0.0.0
urllib3==1.22
w3lib==1.19.0
weditor==0.0.4.dev9
Werkzeug==0.14.1
whichcraft==0.4.1
wxPython==4.0.3
xlrd==1.1.0
xlutils==2.0.0
xlwt==1.3.0
zope.interface==4.5.0
