
	<form id="submitForm" name="submitForm" action="" method="post" enctype="multipart/form-data">
   	<input type="submit" value="批量删除" class="ui_input_btn01"  name="all_delete" />

<form  name="submitForm" action="" method="post" id="tableTest">
		    {% csrf_token %}
    <td><input type="checkbox" value="444" name="check_box_list"/>1</td>

  <tr><input type="checkbox" value="2222" name="check_box_list"/>1123</tr>

  <tr><input type="checkbox" value="333" name="check_box_list"/>123</tr>


</form>
          <tr><input type="checkbox" value="66666" name="check_box_list"/>155553</tr>
    </form>